* {
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

html {
  width: 100%;
  height: 100%;
}

body {
  font-family: proxima-nova, sans-serif;
  background-color: #fff;
  color: #0f0e17;
  font-size: 1.5em;
  line-height: 1.5;
  font-weight: 400;
  height: 100%;
  width: 100%;
}

header {
  display: -ms-grid;
  display: grid;
  padding: 20px;
  grid-gap: 30px;
}

header .email h1 {
  font-size: 1rem;
  text-align: end;
  padding-bottom: 20px;
}

header .email {
  position: relative;
}

/* header .email:after {
  background-color: #f25f4c;
  position: absolute;
  content: "New Website Coming Soon";
} */

header img {
  width: 100%;
  max-width: 500px;
  margin: 0 auto;
}

header p {
  color: #61626d;
}

header .btn {
  margin-top: 2.5rem;
  background-color: #ff8906;
  padding: 1.2rem 2rem;
  border-radius: 3px;
  font-size: 1.1rem;
  font-weight: 700;
  cursor: pointer;
  border: 2px solid #ff8906;
  transition: background-color 100ms ease-in;
}

header .btn:hover {
  background-color: #bc6505;
}

header a {
  color: #fffffe;
  text-decoration: none;
}

header .secondary {
  background-color: white;
  border: 2px solid #0f0e17;
}

header .secondary a {
  color: #0f0e17;
}

header .left-col {
  padding: 1rem;
}

/* ======= FOOTER ======= */
footer {
  color: #ffffffd6;
  text-align: center;
  width: 100%;
}

.philo-phrase {
  font-size: 2rem;
  letter-spacing: 1px;
  line-height: 1.8rem;
}

.copyright {
  padding-top: 50px;
}

.copyright i {
  color: red;
}

/* ====== SOCIALS ====== */
.socials {
  display: inline-flex;
  padding: 10px 20px;
  width: 100%;
  justify-content: flex-end;
}

.social {
  margin: 0 20px;
}

.socials a {
  text-decoration: none;
  color: #0f0e17;
}

.socials i {
  font-size: 2rem;
  -webkit-transition: 100ms ease-in-out;
  transition: 100ms ease-in-out;
  cursor: pointer;
}

.socials i:hover,
.socials i:active {
  -webkit-transform: scale(1.2);
  transform: scale(1.2);
}

/* ======= MEDIA QUERY ======= */

@media only screen and (min-width: 900px) {
  header {
    display: grid;
    padding: 4rem;
    grid-gap: 30px;
    position: relative;
    height: 500px;
    grid-template-columns: 1fr 1fr;
    top: 50%;
    max-width: 1200px;
    margin: -250px auto 0 auto;
  }

  header .email {
    position: fixed;
    top: 10px;
    width: 250px;
    left: 50%;
    margin-left: -125px;
  }

  .right-col {
    order: 2;
  }

  .left-col {
    order: 1;
  }

  footer {
    color: #0f0e17;
    text-align: center;
    position: fixed;
    position: absolute;
    bottom: 0;
    margin: 0 auto;
    width: 100%;
  }

  .socials {
    padding: 10px 0;
    display: inline-flex;
    justify-content: center;
  }
}
